<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    <p>Order : <%= order._id %></p>
    <p>Order Date : <%= order.date %></p>
    <p>Order name : <%= order.name %></p>
    <p>Order Price : <%= order.price %></p>
    <p>Order subtotal : <%= order.price %></p>
    <p>Order total : <%= order.price %></p>
</body>
</html>